@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');


:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --blue: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: clamp(0.875rem, 1vw, 1.25rem);

    font-family: "Figtree", sans-serif;
    background-color: var(--yellow);
}

main {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--gray-950);
    font-weight: 800;
}

.card {
    width: clamp(325px, 300px + 6vw, 383px);
    margin: clamp(0.5rem, 1rem + 1vw , 1.5rem);

    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    background-color: var(--white);
    border-radius: 1.2rem;
    border: solid 0.0625rem var(--gray-950);
    box-shadow: var(--gray-950) 0.5em 0.5em 0;

    padding: clamp(1rem, 1rem + 1vw , 1.25rem);
}  

img {
    width: 100%;
    border-radius: 0.75rem;
}

h1 {
    font-weight: 800;
    font-size: clamp(1.25rem, calc(1.16rem + 0.37vw) , 1.5rem);
}

h1:hover {
    cursor: pointer;
    color: var(--yellow);
}

.status {
    width: fit-content;
    padding: 0.4em 0.8em;
    margin-block-end: clamp(-0.75em, calc(-1em + 0.58vw), -0.25em);

    font-weight: 800;
    border-radius: 0.3em;
    font-size: clamp(0.75rem, calc(0.66rem + 0.12vw), 0.88rem);
    background-color: var(--yellow);
}
.publish-date{
    color: var(--gray-950);
    font-weight: 500;
    font-size: clamp(0.75rem, calc(0.66rem + 0.12vw), 0.88rem);
}

.description {
    font-weight: 500;
    color: var(--gray-500);
    line-height: 1.7;
    font-size: clamp(0.88rem, calc(0.78rem + 0.15vw), 1rem);
}

.user {
    display: flex;
    align-items: center;
    font-size: clamp(0.88rem, calc(0.78rem + 0.14vw), 1rem);
}

.user-image {
    width: clamp(1.5em, 2vw, 2em);
    height: clamp(1.5em, 2vw, 2em);
    margin-inline-end: clamp(0.75em, calc(0.65em + 0.15vw), 1em);
}

.attribution { 
    font-size: clamp(0.7em, calc(0.57em + 0.19vw), 1em); 
    text-align: center;
    margin: clamp(1rem, calc(0.92em + 0.12vw), 1.2em);
}

.attribution a { 
    color: var(--blue); 
}