@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');


:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --blue: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1em;
    font-family: "Figtree", sans-serif;
    background-color: var(--yellow);
}

main {
    width: fit-content;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--gray-950);
    font-weight: 800;
}

div {
    width: clamp(20.3125rem, calc(20.3125rem + (23.9375rem - 20.3125rem) * ((100vw - 23.4375rem) / (90rem - 23.4375rem))), 23.9375rem);
    height: clamp(31.125rem, calc(31.125rem + (32.5rem - 31.125rem)*((100vw - 23.4375rem)/(90rem - 23.4375rem))), 32.5rem);
    box-sizing: border-box;
    margin: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--white);
    border-radius: 1.2em;
    border: solid 0.0625rem var(--gray-950);
    box-shadow: var(--gray-950) 0.5em 0.5em 0;

    padding: clamp(1rem, calc(1rem + (1.25rem - 1rem)*((100vw - 23.4375rem)/(90rem - 23.4375rem))), 1.25rem);
}  

img {
    width: 100%;
    border-radius: 0.75rem;
}

h1 {
    font-weight: 800;
    font-size: clamp(1.25rem, calc(1.25rem + (1.5rem - 1.25rem)*((100vw - 23.4375rem)/(90rem - 23.4375rem))), 1.5rem);
}

h1:hover {
    cursor: pointer;
    color: var(--yellow);
}

.status {
    display: inline-block;
    width: fit-content;
    padding: 0.4em 0.8em;
    font-weight: 800;
    border-radius: 0.3em;
    margin-bottom: -0.75em;
    font-size: clamp(0.75rem, calc(0.75rem + (0.875rem - 0.75rem)*((100vw - 23.4375rem)/(90rem - 23.4375rem))), 0.875rem);
    background-color: var(--yellow);
}
.published{
    color: var(--gray-950);
    font-weight: 500;
    font-size: clamp(0.75rem, calc(0.75rem + (0.875rem - 0.75rem)*((100vw - 23.4375rem)/(90rem - 23.4375rem))), 0.875rem)
}

.description {
    font-weight: 500;
    color: var(--gray-500);
    line-height: 1.5em;
    font-size: clamp(0.875rem, calc(0.875rem + (1rem - 0.875rem)*((100vw - 23.4375rem)/(90rem - 23.4375rem))), 1rem)
}

.user {
    display: flex;
    align-items: center;
    font-size: clamp(0.875rem, calc(0.875rem + (1rem - 0.875rem)*((100vw - 23.4375rem)/(90rem - 23.4375rem))), 1rem);
    gap: 0.75rem;

}

.user-image {
    width: 2em;
    height: 2em;
}

.attribution { 
    font-size: 0.7em; text-align: center;
    margin: 1em;
}

.attribution a { 
    color: var(--blue); 
}